<div class="container">  
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">  
  <%= form_for @bug, url: {action: :create} do |f| %>   
      <div>   
        <h3>Add a Bug</h3>   
      </div>   
      <div>   
        <p>   
          <%= "<div>#{@bug.errors.full_messages.first}</div>".html_safe if @bug.errors.any? %>   
        <div>   
            <%= f.label :title %>    
              <%= f.text_field :title, class: 'form-control' %>   
        </div>   
  
        <div>   
             <%= f.label :deadline %>   
             <%= f.date_field :deadline, class: 'form-control' %>   
        </div>   
  
        <div>   
            <%= f.label :screenshot %> 
              <%= f.file_field :screenshot, class: 'form-control' %>  
        </div> 
        <div>   
            <%= f.label :type %> 
              <%= f.select(:types, Bug::TYPE,{}, {class: 'form-control'}) %>   
        </div> 
        <div>   
            <%= f.label :status %> 
              <%= f.select(:status,Bug::STATUS,{}, {class: 'form-control'}) %>   
        </div>

        <div>   
            <%= f.label :project %> 
              <%= f.collection_select(:project_id,Project.all,:id, :title,{}, {class: 'form-control'}) %>   
        </div>
       
         </p>   
      </div>   
      <div>   
        <%= link_to 'Back', { controller: 'projects', action: 'index'} %>   
        <%= f.submit 'Create Bug' %>   
      </div>   
  <% end %>   
</div>  
  <div class="col-sm-4"></div>
</div>
</div>

